

*{
    padding: 0;
    margin: 0;
}

body {
        background-image: url(img/backgroundimg.jpg);
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-repeat: no-repeat;
        background-size: cover; 
        font-weight: bolder;
    }


body, h1, p {
    text-align: center;
    align-items: center;
}

h1 {
    font-size: 80px;
    margin-bottom: 0.5em;
}

p {
    font-size: 40px;
    margin-bottom: 0.5em;
}

.form {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav, img{
    
    display: flex;
    height: 130px;
    width: 80px;
}

#gjett {
    height: 30px;
    font-size: 20px;
    margin-left: 900px;
    margin-right: 900px;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: 1s ease-in-out;
}

#gjett:hover {
    background-color: red;
    color: white;
}


#submitguess {
    display: flex;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 15px;
    transition: 1s;
    margin-left: 800px;
    margin-right: 800px;
}

#submitguess:hover {
    color: white;
    background-color: red;
}